.body{
    background-color: lightgoldenrodyellow;
}

.form{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    text-align: center;
}

.form__input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(245, 241, 236);
    padding-left: 15px;
}

.form__submit{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}